html {
    /* scrollbar-gutter: stable; */
    font-family: Arial, Helvetica, sans-serif;
    --main-border-color: lightgrey;
    --grid-border: 1px solid lightgrey;
    --header-background-color: darkslategrey;
    --aside-background-color: #efefef;

    --source-background-color: seashell;
    --source-text-color: #212529;
}

body {


    background-color: #fefefe;
    margin: 0;

    /* height: 100vh;
    height: 100dvh; */

    min-height: 100vh;
    min-height: 100dvh;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-areas: "header" "main" "aside" "footer";
    grid-auto-rows: auto 1fr auto auto;

    @media screen and (min-width: 992px) {
        height: 100vh;
        height: 100dvh;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 4fr;
        grid-auto-rows: auto 1fr auto;
        min-height: 100vh;
        min-height: 100dvh;
    }

    aside,
    main {
        overflow: auto;
        scrollbar-gutter: stable;
        padding: 1rem;
    }

    /* aside#nav {
        background-color: var(--aside-background-color);

        border-right: var(--grid-border);
        grid-area: nav;
        display: none;

        @media screen and (min-width: 1200px) {
            display: block;
        }

        nav {
            padding: 1rem 0;
        }
    } */

    main {
        grid-area: main;

        >section {
            padding: 1rem 0;
        }

        >*:not(:last-child) {
            border-bottom: var(--grid-border);
        }

        h1,
        h2,
        h3 {
            font-size: medium;
        }
    }

    aside#meta {
        background-color: var(--aside-background-color);
        grid-area: aside;
        border-left: 1px solid;
        border-color: var(--main-border-color);

        /* @media screen and (min-width: 992px) {

            display: block;
        } */
    }

    div.navigation-container {
        display: flex;
        justify-content: space-between;
    }

    .horizontal {
        font-weight: bold;
        min-width: fit-content;
    }
}

body>header {

    grid-area: header;

    border-bottom: 1px solid;
    border-color: var(--main-border-color);

    position: sticky;
    top: 0;

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: subgrid;
    }

    >* {
        padding: 0.5rem 1rem;
    }

    #home {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: larger;
    }

    #header-menu {
        border-left: var(--grid-border);
    }

}

body>header,
body>footer {
    background-color: var(--header-background-color);
    color: white;

    a,
    a:visited {
        color: white;
    }
}

.crumbs {

    ul {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        text-wrap-mode: nowrap;

        padding: 0;
        margin: 0;

        list-style: none;

        li {
            padding: 0 0.1rem;
        }

        li:has(> a)::after {
            content: " /";
        }
    }
}

footer {
    background-color: var(--header-background-color);
    grid-area: footer;
    border-top: 1px solid var(--main-border-color);
    padding: 1rem 1rem 0.5rem 1rem;

    ul {
        margin: 0;
    }
}

a {
    text-decoration-line: none;


}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

hr {
    display: none;
}

.index .horizontal {
    display: none;
}

/* LISTE DER JAHRGÄNGE */

.grid-list {
    ul {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
        gap: 0.5rem;
        justify-items: center;


        padding: 0;
        list-style: none;

        li:has(a) {
            font-weight: bold;
        }
    }
}

/* KALENDER */

section.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

table.month {
    margin: 0 auto;
    caption-side: top;

    button {
        font-size: unset;
        /* border: none; */
        height: 30px;
        width: 30px;
    }

    th {
        height: 1.5em;
    }

    td {
        text-align: center;
        height: 30px;
        width: 30px;
    }

    td.issue-date {


        button {
            color: white;
            background-color: darkgreen;
        }
    }

    


}

.date-popover:popover-open {
    width: 200px;
    text-align: left;

    header {
        display: flex;
        justify-content: space-between;
        flex: 2;

    }

    header, div{
        border-bottom: var(--grid-border);
    }
}

button:hover {
        filter: brightness(120%);
        cursor: pointer;
    }

/* KORRESPONDENZ */

article.correspondence {

    background-color: var(--source-background-color);
    color: var(--source-text-color);

    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
    text-align: justify;

    br {
        display: none;
    }

    span.lb {
        display: none;
    }

    .catchword {
        display: none;
    }

    @media screen and (min-width: 700px) {
        text-align: justify;

        br {
            display: inline;
        }

        span.br::before {
            content: "↵";
            color: grey;
        }


    }

    .page-number::before {
        content: "[";
    }

    .page-number::after {
        content: "]";
    }
}

div.issue {
    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#coresspondence-map {
    height: 380px;
}


/* KNÖPFE */

button {
    border: none;
    font-weight: bold;
    background-color: grey;
    color: white;
}

.correspondence-places {
    display: flex;
    flex-wrap: wrap;
}

.button {
    background-color: darkgrey;
    border: 2px solid grey;
    color: white;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    /* background-color: lightgrey; */
    filter: brightness(120%);
}

.date-highlight {
    background-color:tomato;
}