html {
    scrollbar-gutter: stable;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    background-color: #fefefe;

    --main-border-color: lightgrey;

    --source-background-color: seashell;
    --source-text-color: #212529;

    display: grid;
    grid-template-areas: "header" "main" "meta" "footer";
    grid-template-rows: auto 1fr auto;

    margin: 0;

    @media screen and (min-width: 992px) {
        height: 100vh;
        /* display: grid; */
        grid-template-areas:
            "header header"
            "main meta"
            "footer footer";
        gap: 1 rem;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 4fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        /* display: grid; */
        grid-template-areas:
            "header header header"
            "nav main meta"
            "footer footer footer";
        gap: 1 rem;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 4fr 1fr;

    }


    /* display: flex; */

    /* display: grid;
        grid-template-areas: "main";

        @media screen and (min-width: 992px) {

            grid-template-areas: "main meta";
            grid-template-columns: 4fr 2fr;
        }

        @media screen and (min-width: 1200px) {

            grid-template-areas: "nav main meta";
            grid-template-columns: 1fr 3fr 1fr;
        } */


    aside#nav {
        /* width: 20%; */

        border-right: 1px solid;
        border-color: var(--main-border-color);
        grid-area: nav;
        display: none;

        @media screen and (min-width: 1200px) {

            display: block;
        }
    }

    main {
        overflow: auto;

        /* width: 60%; */

        h1 {
            border-bottom: 1px solid;
            border-color: var(--main-border-color);
        }

        grid-area: main;
        padding: 0 1rem;

    }

    aside#meta {
        /* width: 20%; */
        grid-area: meta;
        border-left: 1px solid;
        border-color: var(--main-border-color);

        @media screen and (min-width: 992px) {

            display: block;
        }
    }

    aside {
        padding: 0 1rem;

    }

    header {
        grid-area: header;
        border-bottom: 1px solid;
        border-color: var(--main-border-color);
        padding: 1rem 1rem 0.5rem 1rem;
        position: sticky;
        top: 0;
        background-color: white;

        display: grid;

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr auto 1fr;
        }

        gap: 0.5rem;

        .horizontal {
            justify-self: center;
            font-weight: bold;
        }

        .breadcrumbs {

            ul {
                display: flex;
                flex-wrap: wrap;
                font-weight: bold;
                text-wrap-mode: nowrap;

                padding: 0;
                margin: 0;

                list-style: none;

                li {
                    padding: 3px;
                }

                li.crumb::after {
                    content: " /";
                }
            }
        }
    }

    footer {
        grid-area: footer;
        border-top: 1px solid;
        border-color: var(--main-border-color);
        padding: 1rem 1rem 0.5rem 1rem;
    }

    a {
        text-decoration-line: none;


    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }

    hr {
        display: none;
    }
}

.index .horizontal {
    display: none;
}

/* LISTE DER JAHRGÄNGE */

section#list_all_years {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        gap: 0.5rem;
        justify-items: center;

        padding: 0;
        list-style: none;

        li:has(a) {
            font-weight: bold;
        }
    }
}

/* KALENDER */

section.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

table.month {
    margin: 0 auto;
    caption-side: top;
    font-family: sans-serif;

    button {
        font-size: unset;
        border: none;
        height: 30px;
        width: 30px;
    }

    th {
        height: 1.5em;
    }

    td {
        text-align: center;
        height: 30px;
        width: 30px;
    }

    td.issue-date {


        button {
            font-weight: bold;
            color: white;
            background-color: darkgreen;
        }
    }

    .correspondence-tooltip {
        width: 400px;
        text-align: left;
    }
}


/* KORRESPONDENZ */

article.correspondence {

    background-color: var(--source-background-color);
    color: var(--source-text-color);

    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
    text-align: justify;

    br {
        display: none;
    }

    span.lb {
        display: none;
    }

    .catchword {
        display: none;
    }

    @media screen and (min-width: 700px) {
        text-align: justify;

        br {
            display: inline;
        }

        span.br::before {
            content: "↵";
            color: grey;
        }


    }

    .page-number::before {
        content: "[";
    }

    .page-number::after {
        content: "]";
    }
}



#map_coresspondence {
    height: 380px;
}


/* KNÖPFE */

button {
    font-weight: bold;
    background-color: grey;
    color: white;
}