body {

    --page-element-border-color: darkgrey;

    margin: 0 2rem;
    >header {
        nav {
            a {
                font-weight: bold;
                color: black;
                text-decoration: none;
            }

            a.active {
                color: darkblue;
                text-decoration: underline;
            }
        }

        border-bottom: 1px solid;
        border-color: var(--page-element-border-color);
        padding: 1rem;
    }

    >footer {
        text-align: center;
        border-top: 1px solid;
        border-color: var(--page-element-border-color);
        padding: 1rem;
    }
    >.page-content {
        > aside {
            border: none;
            padding: 1rem;
        }
        #siblings {
            display: none;
        }
        @media screen and (min-width: 700px) {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            aside {
                border-right: 1px solid;
                border-color: var(--page-element-border-color);
            }
            #siblings {
                display: block;
            }
        }
        
    }

    main {
        /*@media screen and (min-width: 700px) {
            margin: 0 5em;
        }*/
    }
}

.highlight {
    background: indianred;
    color: white;
}

.calendar-container {
    @media screen and (min-width: 700px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 3fr 1fr;
    }

    .calendar {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/*calendar*/
table.month {
    margin: 0 auto;
    caption-side: top;
    font-family: sans-serif;

    button {
        font-size: unset;
        border: none;
    }

    th {
        height: 1.5em;
    }

    td {
        text-align: center;
        height: 1.5em;
        width: 1.5em;
    }

    .article-tooltip {
        text-align: left;
    }
}

/*timeline table*/
table.timeline {
    font-family: monospace;
    overflow: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-collapse: collapse;


    th.articles {
        min-width: 1.5em;
    }

    tbody {
        white-space: nowrap;
    }

    tr.m_1,
    .m_3,
    .m_5,
    .m_7,
    .m_9,
    .m_11 {
        background: whitesmoke;
    }

    td {
        border-bottom: 1px dashed;
        border-color: grey;
    }

    td.articles {
        text-align: center;
        border: 1px dotted;
    }

    td:has(> button) {
        background-color: darkgreen;

        button {
            color: white;
            font-weight: bold;
            border: none;
            background-color: transparent;
            padding: 0;
        }

    }

    .tooltip {
        position: relative;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: left;
        background: white;
        margin: 0;
        border: 1px solid grey;
        padding: 0.5em 1em 0.5em 2em;
    }

    .tooltip:hover .tooltiptext,
    .tooltip:focus .tooltiptext {
        visibility: visible;
    }
}